/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  // align-items: center;
  justify-content: center;
  background-position: center;
  background-image: linear-gradient(135deg, rgba(9, 71, 22,0.8) 0%, rgba(0,0,0,0.2) 50%),
  url('http://res.cloudinary.com/dmbf29/image/upload/v1492588671/shibuya_mqo0go.jpg');
}

.banner-call-action {
  margin-top: 90px;
}

.banner-title {
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 90px;
  margin-bottom: 22px;
  margin-top: 50px;
}

.banner-button {
  background-color: $green;
  color: white;
  padding: 20px;
  border: 2px solid white;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  font-family: 'Walter Turncoat';
}

.banner-image-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}

.banner-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.banner-search-input:focus  {
  border: 1px solid #CCCCCC;
}

.card-white {
  background: white;
  padding: 30px;
  // padding-right: 50px;
  // padding-left: 50px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 10px;
  height: 250px;
  position: relative;
}
.review-card-white {
  background: white;
  padding: 30px;
  // padding-right: 50px;
  // padding-left: 50px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 10px;
  height: 250px;
  position: relative;
}

.wrapper-gray {
  background: #c6c6ce;
  color: #4e4e4e;
  padding-bottom: 45px;
}

.wrapper-white {
  background: white;
  color: #4e4e4e;
  // padding-bottom: 45px;
}

.wrapper-header {
  text-align: center;
  margin-top: 0px;
  padding-top: 27px;
  color: #000000;
}

.wrapper-review-header {
  text-align: center;
  margin-top: 0px;
  padding-top: 27px;
  color: #636363;
}

.card-white:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.review-card-white:hover {
        box-shadow:
                1px 1px #c6c6ce,
                2px 2px #c6c6ce,
                3px 3px #c6c6ce;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.review-card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.review-card-quote {
  position: absolute;
  left: 10px;
  top: 10px;
}
.quote-bubble {
  width: 30px;
  border-radius: 50%;
}

.ribbon-green {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}
