// START OF BANNER CONTENT
.banner {
  color: white;
  text-align: center;
  height:92vh;
  padding:30px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-image: linear-gradient(135deg, rgba(0, 90, 50, 0.3) 40%, rgba(0,0,0,0.3) 60%),
  url('http://res.cloudinary.com/dmbf29/image/upload/v1492588671/shibuya_mqo0go.jpg');
}

.banner-title {
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 9vw;
}

.banner-values {
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  margin-top: 50px;
}

.banner-call-action {
  text-align: center;
}

.banner-button {
  background-color: $green;
  color: white;
  padding: 25px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
}
.banner-cards {
  margin-top: 20px;
}

.banner-card-icon {
  width: 50px;
}
.banner-card:hover {
  .banner-hr-green-top {
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
  }
  .banner-hr-green-bottom {
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
  }
}

.banner-hr-green-top {
    border: 0;
    height: 1px;
    width: 100%;
    background: $green;
    margin-bottom: 0px;
}
.banner-hr-green-bottom {
    margin-top: 0px;
    border: 0;
    height: 1px;
    width: 100%;
    background: $green;
}

.banner-card-content-header {
  margin-top: 30px;
  margin-bottom: 20px;
}


.banner-card-content h5 {
  font-weight: bolder;
  letter-spacing: 1px;
}
.banner-card-content p {
  font-weight: lighter;
}

.banner-card-content-text {
  margin-bottom: 20px;
}


// END OF BANNER

// HOW IT WORKS UNDER BANNER
.homepage-wrapper-white {
  background: white;
  color: $dark-gray;
  margin-bottom: 70px;
}

.homepage-section-header {
  text-align: center;
  color: $dark-gray;
  font-weight: bold;
}

.homepage-section-header h2 {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 35px;
}

.homepage-works-card {
  background-color: rgba(32, 189, 62,0.1);
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  position: relative;
  color: $dark-gray;
}

.homepage-works-card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.homepage-works-card-number {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  border-radius: 50%;
}

.homepage-works-card-ribbon {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.homepage-works-card-content {
  text-align: center;
}

.homepage-works-card-content h4 {
  margin: 0px;
  padding: 15px;
  font-weight: bolder;
}

.homepage-works-card-content p {
  padding: 0 20px;
  padding-bottom: 20px;
  font-weight: lighter;
}

.homepage-wrapper-green {
  margin-top: 30px;
  background: $green;
  color: $dark-gray;
  padding-top: 20px;
  padding-bottom: 20px;
}
.gibbit-plea-content {
  padding-bottom: 40px;
}
.gibbit-plea-content {
  text-align: center;
}

.gibbit-plea-content h2 {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 15px;
  color: white;
}

.gibbit-plea-content a {
  margin-top: 0px;
  color: white;
  padding-left: 5px;
}

.review-avatar {
  width: 75px;
  border-radius: 50%;
}

.review-card-white {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 10px;
  height: 300px;
  position: relative;
}

.review-card-white:hover {
        box-shadow:
                1px 1px #c6c6ce,
                2px 2px #c6c6ce,
                3px 3px #c6c6ce;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.review-card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.review-card-quote {
  position: absolute;
  left: 10px;
  top: 10px;
}
.review-card-bubble {
  width: 25px;
  border-radius: 50%;
}



