.session {
  text-align: center;
  border-style: solid;
  border-color: #20bd3e;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;

  .form-inputs {
    align-item: center;
    width: auto;
  }
}

.page-wrap { min-height: 100%; }
