
<div id="footer">
    <div class="footer-newsletter">
    <h6>NEWSLETTER</h4>
    <p>Subscribe to Gibbit newsletter to get updates, promotions and more!</p>
    <ul class="list-inline">
    <li><form action="" class="footer-email-input">
      <input type="text" class="footer-email-input" placeholder="EMAIL ADDRESS">
    </form></li>
    <li class="subscribe-button">
    <%= link_to "SUBSCRIBE", "", class: "btn btn-secondary" %></li>
    </ul>
    </div>

    <div class="footer-information">
    <ul class="list-inline">
      <li><a href=""><i class="fa fa-youtube"></i></a></li>
      <li><a href=""><i class="fa fa-instagram"></i></a></li>
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
      <li><a href=""><i class="fa fa-twitter"></i></a></li>
    </ul>
      <p>Gibbit © 2017</p>
    </div>
</div>

