
<div id="footer">
    <div class="footer-newsletter">

    <!-- <p>Subscribe to Gibbit newsletter to get updates, promotions and more!</p> -->
    <ul class="list-inline">
      <li><h4>NEWSLETTER</h4></li>
      <li><form action="" class="footer-email-input">
        <input type="text" class="footer-email-input" placeholder="Email address">
      </form></li>
      <li class="subscribe-button">
      <%= link_to "Subscribe", "", class: "btn btn-secondary" %></li>
    </ul>
    </div>

    <div class="footer-information">
      <ul class="list-inline">
        <li><a href=""><i class="fa fa-youtube"></i></a></li>
        <li><a href=""><i class="fa fa-instagram"></i></a></li>
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><p>Gibbit © 2017</p></li>
      </ul>
    </div>
</div>

