<div class="banner" style="background-image: url('http://res.cloudinary.com/dmbf29/image/upload/v1492588671/shibuya_mqo0go.jpg');">
  <div class="banner-content">
    <ul class="list-inline">
      <li>
        <form action="" class="banner-image-search">
          <input type="text" class="banner-search-input" placeholder="How can we help you?">
        </form>
      </li>
      <li>
      <%= link_to "Make a Request", new_inquiry_path, class: "btn gibbit-button" %>
      </li>
    </ul>
  </div>
</div>



