<div class="banner">
  <div class="banner-content">
    <h1 class="banner-title">Help is Already Here</h1>
    <div class="banner-call-action">
    <ul class="list-inline">
      <!-- <li>
        <form action="" class="banner-image-search">
          <input type="text" class="banner-search-input" placeholder="How can we help you?">
        </form>
      </li> -->
      <li class="request-btn">
      <%= link_to "Make a Request", new_inquiry_path, class: "btn gibbit-button" %>
      </li>
    </ul>
    </div>
  </div>
</div>

<div class="wrapper-gray">
  <h3 class="wrapper-header">How it works?</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-white">
          <h3>First</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-white">
          <h3>Second</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-white">
            <h3>Third</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <h3 class="wrapper-review-header">Reviews</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="card-white">
          <h3>First</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-white">
          <h3>Second</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-white">
            <h3>Third</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
            </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-white">
            <h3>Fourth</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea corporis dignissimos. Alias sed delectus at eaque sit ut recusandae odit quae repellendus velit deleniti maxime quaerat, reiciendis cupiditate dignissimos.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>



