.avatar-wrap {
  background-color: #424244;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.request-wrap {
  background-color: #E0E0E0;
  border-radius: 0 0 5px 5px;
  box-shadow: 10px 10px 5px -8px rgba(49,48,48,0.41);
  margin-top: 10px;
}

.request-wrap a {
  text-decoration: none;
  color: #424244;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
}

.request {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.request:hover {
  background-color: #CECECE;
  cursor: pointer;
}

.request-title {
  background-color: #424244;
  color: white;
  margin-bottom: 0;
  text-align: center;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  margin-top: 0;
}


.request-current {
  flex: 0 0 20%;
  text-align: center;
}

.request-description {
  flex: 1 1 auto;
  margin-left: 5px;
}

.dashboard-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-form {
padding: 10px;
margin-top: 0;
}

