.request-wrap {
  background-color: #E0E0E0;
  border-radius: 0 0 5px 5px;
  box-shadow: 10px 10px 5px -8px rgba(49,48,48,0.41);
}

.request-wrap a {
  text-decoration: none;
  color: #424244;
}

.request {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-top: 5px;
}

.request:hover {
  background-color: #CECECE;
  cursor: pointer;
}

.request-title {
  background-color: #424244;
  color: white;
  margin-bottom: 0;
  text-align: center;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.request-current {
  flex: 0 0 20%;
}

.request-description {
  flex: 1 1 auto;
}

.user-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.user-details-item {
  flex: 0 0 33%
}

.item-photo {
  width: 100px;
}
