.gibber-current {
  flex: 0 0 13%;
  text-align: center;
}

.gibber-choices {
  flex: 0 0 27%;
  text-align: center;
  margin-left: 5px;
}

.gibber-choices a {
  color: white;
}

.gibber-choices a:hover {
  color: #E0E0E0;
}

.gibber-choices input {
  color: white;
}
.gibber-choices input:hover {
  color: #E0E0E0;
}

.gibber-description {
  flex: 1 1 auto;
  margin-left: 5px;
}

.propose-button {
  width: 120px;
  background-color: #424244;
  color: white;
  border: 5px solid $red;
}

.pending-button {
  width: 120px;
  background-color: #424244;
  color: white;
  border: 5px solid $yellow;
}

.complete-button {
  width: 120px;
  background-color: #424244;
  color: white;
  border: 5px solid $green;
}

.assign-button {
  width: 75px;
  background-color: #424244;
  color: white;
  border: 3px solid $blue;
  text-align: center;
}
