.gibber-current {
  flex: 0 0 13%;
  text-align: center;
}

.gibber-choices {
  flex: 0 0 27%;
  text-align: center;
  margin-left: 5px;
}

.gibber-choices a {
  color: #424244;
}

.gibber-choices a:hover {
  color: #E0E0E0;
}

.gibber-choices input {
  color: white;
}
.gibber-choices input:hover {
  color: #E0E0E0;
}

.gibber-description {
  flex: 1 1 auto;
  margin-left: 5px;
}

.gibber-assign-button {
  width: 75px;
  background-color: #424244;
  color: white;
  border: 3px solid $blue;
  text-align: center;
}
.change-status-button {
  margin-left: 10px;
  margin-top: 10px;
  width: 120px;
  padding: 0 20px;
  border-radius: 5px;
  line-height: 30px;
  background-color: #E0E0E0;
  color: #424244;
  font-size: 14px;
  border: 2px solid #424244;
}
.change-status-button:hover {
  color: #424244;
  background: #E0E0E0;
  border-color: #424244;
}

.view-request-button {
  width: 120px;
  background-color: #424244;
  color: white;
}
.view-request-button-large {
  width: 200px;
  background-color: #424244;
  color: white;
}

.view-request-button:hover {
  width: 120px;
  background-color: #424244;
  color: #E0E0E0;
}
.view-request-button-large:hover {
  width: 200px;
  background-color: #424244;
  color: #E0E0E0;
}

.proposed-gibber-underline {
    border-width: 0 0 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, darken($yellow,11), darken($yellow,1)) 10% round;

}
.pending-gibber-underline {
    border-width: 0 0 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, darken($red,11), darken($red,1)) 10% round;

}

.accepted-gibber-underline {
    border-width: 0 0 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, darken($green,11), darken($green,1)) 10% round;

}
