.gibber-current {
  flex: 0 0 13%;
  text-align: center;
}

.gibber-choices {
  flex: 0 0 27%;
  text-align: center;
  margin-left: 5px;
}

.gibber-choices a {
  color: $dark-gray;
}

.gibber-choices a:hover {
  color: $gray;
}

.gibber-choices input {
  color: white;
}
.gibber-choices input:hover {
  color: $gray;
}

.gibber-description {
  flex: 1 1 auto;
  margin-left: 5px;
}

.gibber-assign-button {
  width: 75px;
  background-color: $dash-back;
  color: white;
  border: 3px solid $blue;
  text-align: center;
}

.change-status-button {
  margin-left: 10px;
  // margin-top: 10px;
  width: 120px;
  padding: 2.5px;
  border-radius: 3px;
  line-height: 30px;
  background-color: $dash-back;
  color: white;
  font-size: 14px;
  border: 2px solid $dash-back;
}
.change-status-button:hover {
  color: $dash-back;
  background: white;
  border-color: $dash-back;
}

.view-request-button {
  width: 120px;
  background-color: $dash-back;
  color: white;
}
.view-request-button-large {
  width: 200px;
  background-color: $dash-back;
  color: white;
}

.view-request-button:hover {
  width: 120px;
  background-color: $dash-back;
  color: $gray;
}
.view-request-button-large:hover {
  width: 200px;
  background-color: $dash-back;
  color: $gray;
}

.proposed-gibber-underline {
    border-width: 0 0 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, darken($yellow,11), darken($yellow,1)) 10% round;

}
.pending-gibber-underline {
    border-width: 0 0 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, darken($red,11), darken($red,1)) 10% round;

}

.accepted-gibber-underline {
    border-width: 0 0 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, darken($green,11), darken($green,1)) 10% round;

}

.avatar-wrap h5 {
  color: $green;
  font-weight: bolder;
  letter-spacing: 1px;
}
.avatar-wrap p {
  font-weight: lighter;
}
