.chatbox-wrap {
  padding: 10px;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $cream;
}
.chatdetails-wrap {
  padding: 10px;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $cream;
}

.chatdetails-status {
  text-align: center;
  padding: 5px;
}

.chatbox-title {
  background-color: $dash-back;
  color: white;
  margin-bottom: 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 20px;
  margin-top: 10px;
}
.chatbox-title h2 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.chatbox-messages {
  padding: 10px;
  font-size: 18px;
  margin-top: 0px;
  min-height: 30vh;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.message-box-field {
  flex: 1 1 auto;
  margin-left: 5px;

}

.message-box-button {
  flex: 0 0 10%;
  text-align: center;
}

.chatdetails-description {
  padding: 10px;
}

.chatdetails-description a {
  text-decoration: none;
}

.show-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 5px;
  line-height: 40px;
  background-color: $gray;
  color: $green;
  font-size: 14px;
  border: 2px solid $green;
}
.show-button:hover {
  color: $dark-gray;
  background: $gray;
  border-color: $dark-gray;
}

.accept-button {
  padding: 0 20px;
  border-radius: 5px;
  line-height: 40px;
  background-color: $green;
  color: white;
  font-size: 20px;
  border: 2px solid $green;
  margin-bottom: 5px;
}
.accept-button:hover {
  color: $green;
  background: $gray;
  border-color: $green;
}

.reject-button {
  padding: 0 20px;
  border-radius: 5px;
  line-height: 20px;
  background-color: $red;
  color: white;
  font-size: 16px;
  border: 2px solid $red;
  margin-top: 20px;
  margin-bottom: 5px;
}
.reject-button:hover {
  color: $red;
  background: $gray;
  border-color: $red;
}

.message-user {
  text-align: left;
  margin-bottom: 2px;
  margin-top: 2px;
  justify-content: flex-start;
  align-items: center;
}
.message-gibber {
  text-align: right;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: flex-end;
  align-items: center;
}

.message-user-name {
 // margin: 0 10px 0 0;
  flex: 0 1 10%;
  font-weight: bold;
  span {
    white-space: nowrap;
    font-size: 13px;
    color: #b1b1b1;
  }
}

.message-gibber-name {
  margin: 0 0 0 10px;
  flex: 0 1 10%;
  font-weight: bold;
  span {
    white-space: nowrap;
    font-size: 13px;
    color: #b1b1b1;
  }
}

.message-user-content {
  flex: 0 1 auto;
  background-color: $green;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  // box-shadow: 10px 10px 5px -8px rgba(49,48,48,0.41);
  display: inline-block;
  font-size: 14px;
}

.message-gibber-content {
  flex: 0 1 auto;
  background-color: $sand;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  // box-shadow: 10px 10px 5px -8px rgba(49,48,48,0.41);
  display: inline-block;
  font-size: 14px;
}

.helper-button {
  padding-bottom: 10px;
}

.show-propose-button {
  width: 200px;
  background-color: $dark-gray;
  color: white;
  border: 5px solid $red;
}

.show-pending-button {
  width: 200px;
  background-color: $dark-gray;
  color: white;
  border: 5px solid $yellow;
}

.show-complete-button {
  width: 200px;
  background-color: $dark-gray;
  color: white;
  border: 5px solid $green;
}

.show-complete-button {
  width: 200px;
  background-color: $dark-gray;
  color: white;
  border: 5px solid $green;
}

.show-complete-button:hover {
  width: 200px;
  background-color: $dark-gray;
  color: #D7D7D7;
  border: 5px solid $green;
}

.chat-order-status-box {

}

.chat-order-status-title h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat-order-status-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.chat-order-accrej-button{
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat-gibber-status-button {
  lines-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.payment-button-padding {
  padding-bottom: 20px;
}

.chat-order-status-completed {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.social-share-button {
    height: 40px;
    width: 40px;
  .ssb-icon {
    background-size: 40px 40px; // height width
    height: 40px;
    width: 40px;
  }
}

.review-button {
  background-color: $green;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  padding: 0;
}

.review-button-image {
  height: 35px;
  width: 35px;
}
.complete-action {
  color: $dash-back;
}

.rating-print {
  width: 25px;
  flex: 1 1 100%;
}

.chat-order-status-completed-review {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #20bd3e;
  // padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  h4 {
    margin: 0;
  }
}

.review-share-middle {
  margin-top: 0px;
  flex: 1 0 40%;
  // position: absolute;
  // bottom: 10px;
  // left: 10px;
}

.share-message {
  flex: 1 0 100%;
}

.review-content {
  background-color: $green;
  border-radius: 10px;
  // padding-top: 11px;
  // padding: 5px;
  margin-left: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 0 0 40%;
  color: white;
  opacity: 0.8;
  p {
    margin-bottom: 0px;
    margin: 0px;
  }
}

.flex-for-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // align-self: flex-start;
  margin: 20px 0;
  // padding-right: 20px;
  // padding-left: 20px;
  ul {
    flex: 0 0 40%;
    li {
      margin: 0;
      padding: 0;
    }
  }
  p {
    margin: 0;
  }
}

.flex-for-review-share {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  .social-share-button {
    width: 100px;
    .ssb-icon {
      background-image: url("http://www.indievox.com/public/anniversary/six/image/fb-share-button.png");
      background-size: 100px auto;
      height: 45px;
      width: 100px;
    }
  }
}

.social-share-button {

}
