<div class="new-inquiry-banner">
  <div class="container">
     <div class="col-xs-12 col-sm-6">
      <h1>Make a Request</h1>
      <h3><%= @user.first_name %></h3>
      <h5>(Credits: <%= @user.credits %>)</h5>
      <%= render 'shared/inquiry_form' %>
    </div>
  </div>
</div>
<div class="push"></div>
